@charset "UTF-08";

* {margin: 0%; padding: 0px; box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
--font : 'Lora' , sans-serif;
--color_font_footer : rgb(240, 220, 212);
--text_shadow : 1px 1px 6px rgb(172, 128, 128);
}

body{
    background-color: rgba(240, 239, 213, 0.128); cursor: context-menu; font-family: var(--font);
}

input:focus{
    outline: 0;
    }
    
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#aside-descr > #description > p, #aside-origin > #origin> p {
    text-shadow: var(--text_shadow); letter-spacing: 1px;
}

@media (min-width:600px) and (max-width:768px) {

header{
    background-color: rgba(0, 0, 255, 0.352); background-image: linear-gradient(170deg, rgb(244, 244, 19) 5%,white 15%,rgb(24, 138, 252) 30%); background-attachment: fixed; box-shadow: 2px 2px 15px rgba(50, 11, 49, 0.868) inset;
}

header > #div-imgs{
    display: flex; justify-content: space-evenly; padding-top: 10%; padding-bottom: 5%;
}
        
    header > #div-imgs > #sunny{
    font-size: 6dvi; position: absolute; transform: translate(-40vw,-2vh);
    }

    header > #div-imgs > #cloud{
        font-size: 5dvi;
    }

    header > #div-imgs > #cloudy{
        font-size: 5dvi;
    }

    header > #div-titles{
    display: flex; justify-content: space-around; padding-top: 25px; padding-bottom: 25px; cursor: context-menu;
    }

    #div-titles > #span-draw > h1{
    color: rgb(245, 237, 237); font-size: 1.5rem; font-style: oblique; letter-spacing: 2px; text-decoration-line: underline; text-decoration-style: wavy; text-decoration-thickness: 2px; text-underline-offset: 8px; text-shadow: 1px 1px 3px black;
    }

    #div-titles > #span-artist > h1{
    color: rgb(240, 134, 217);font-size: 1.5rem; font-style: oblique; letter-spacing: 2px; text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 2px; text-underline-offset: 8px; text-shadow: 1px 1px 6px rgb(7, 0, 0);
    }

    #span-h2{
      text-align: center;  
    }

    #span-h2 > h2{
        color: rgb(12, 0, 10); font-size: 4dvi; font-style: oblique; letter-spacing: 2px; text-shadow: 1px 1px 4px rgba(167, 98, 98, 0.84); padding: 60px;
    }

    #span-search{
     display: flex; justify-content:flex-end; align-items: center; flex-flow: row wrap; margin-top: 25px;
    }

    #span-search > label{
    color: rgb(12, 0, 10); font-size: 3dvi; padding-right: 10px; 
    }

    #span-search > #span-input > #input-year{
        width: 100%; border: none; background-color: rgba(128, 128, 128, 0.475); border-radius: 10px; flex: 0 1 120px; padding-top: 1px;
    }

    #span-search > #span-input > #bloom{
        color: rgb(7, 102, 7); cursor: pointer;
    }

    #span-search > #span-input{
        box-shadow: 2px 2px 6px black; border-radius: 10px; display: flex; background-color: transparent; padding-right: 3px; width: 125px; margin-right: 10%;
    }

    #first-hr{
        position: relative; transform: translateY(35px); 
    }

    h3{
        font-size: 2rem; text-align: center; margin-top: 90px; text-transform: uppercase; position: relative; top: 3%;
    }

    section {
    display: flex; flex-flow: column wrap; margin-top: 15%; margin-bottom: 8%; padding: 0px 10px; 
    }

    section > #aside-descr{
    display: flex; justify-content: center; align-items: center; 
    }

    section > #aside-descr > #description{
        flex-basis: 60%;
    }

    section > #div-img{
        flex-basis: 500px; flex-shrink: 2; flex-grow: 1; display: flex; justify-content: center;align-items: center; flex-flow: column;
    }

    section > #div-img > img {
        width: 75%; filter:drop-shadow(2px 2px 10px black); border-radius: 3%;
    }

    section > #aside-origin{
        display: flex; justify-content: center; align-items: center; 
    }

    section > #aside-origin > #origin{
        flex-basis: 60%;
    }

    #pages-adjuste{
        display: flex; justify-content: center; 
    }

    #pages-adjuste > #div-pages{
        display: flex; justify-content: space-around; margin: 5px 0px; width: 200px;
    }

    #pages-adjuste > #div-pages > a{
        text-decoration: none; color: black; 
    }

    #div-pages > a > #arrow-left{
     font-size: 1.3em;
    }

    #div-pages > a > #arrow-left:hover{
        cursor: pointer;
    }

    #pages-adjuste > #div-pages > #p-page{
     background-color: rgb(200, 151, 199); padding: 0px 5px; border-radius: 50%; cursor: context-menu; font-size: 1.3rem;
    }

    #div-pages > a >#arrow-right{
     font-size: 1.3em;
    }

    #div-pages > a > #arrow-right:hover{
        cursor: pointer;
    }

    footer{
        margin: 8% 0%; height: 120px; display: flex; justify-content:center; align-items: center; background-image: linear-gradient(160deg, rgb(68, 5, 85)60%, white, rgba(20, 20, 94, 0.804) 75%, black); background-attachment: fixed; box-shadow: 2px 2px 10px black inset;
    }

    footer > h4{
    font-size: 3dvi; font-style: oblique; letter-spacing: 2px; text-shadow: var(--text_shadow); color: var(--color_font_footer);
    }
}

@media (min-width:768px) and (max-width:992px) {

    header{
    background-color: rgba(0, 0, 255, 0.352); background-image: linear-gradient(170deg, rgb(244, 244, 19) 5%,white 15%,rgb(24, 138, 252) 30%); background-attachment: fixed; box-shadow: 2px 2px 15px rgba(50, 11, 49, 0.868) inset;
}

header > #div-imgs{
    display: flex; justify-content: space-evenly; padding-top: 10%; padding-bottom: 5%;
}
        
    header > #div-imgs > #sunny{
    font-size: 6dvi; position: absolute; transform: translate(-40vw,-2vh);
    }

    header > #div-imgs > #cloud{
        font-size: 5dvi;
    }

    header > #div-imgs > #cloudy{
        font-size: 5dvi;
    }

    header > #div-titles{
    display: flex; justify-content: space-around; padding-top: 25px; padding-bottom: 25px; cursor: context-menu; 
    }

    #div-titles > #span-draw > h1{
    color: rgb(245, 237, 237); font-size: 2rem; font-style: oblique; letter-spacing: 2px; text-decoration-line: underline; text-decoration-style: wavy; text-decoration-thickness: 2px; text-underline-offset: 8px; text-shadow: 1px 1px 3px black;
    }

    #div-titles > #span-artist > h1{
    color: rgb(240, 134, 217); font-size: 2rem; font-style: oblique; letter-spacing: 2px; text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 2px; text-underline-offset: 8px; text-shadow: 1px 1px 6px rgb(7, 0, 0);
    }

    #span-h2{
      text-align: center;  
    }

    #span-h2 > h2{
        color: rgb(12, 0, 10); font-size: 2rem; font-style: oblique; letter-spacing: 2px; text-shadow: 1px 1px 4px rgba(167, 98, 98, 0.84); padding: 60px;
    }

    #span-search{
        display: flex; justify-content: end; align-items: center; flex-flow: row wrap; margin-top: 25px;
    }

    #span-search > label{
    color: rgb(12, 0, 10); font-size: 1.5rem; padding-right: 10px; 
    }

    #span-search > #span-input > #input-year{
        width: 100%; border: none; background-color: rgba(128, 128, 128, 0.475); border-radius: 10px; flex: 0 1 120px; padding-top: 1px;
    }

    #span-search > #span-input > #bloom{
        color: rgb(7, 102, 7); font-size: 20px; padding-top: 1px; padding-bottom: 1px; cursor: pointer;
    }

    #span-search > #span-input{
        box-shadow: 2px 2px 6px black; border-radius: 10px; display: flex; background-color: transparent; padding-right: 3px; width: 125px; margin-right: 10%; height: 20px;
    }

    #first-hr{
        position: relative; transform: translateY(35px); 
    }

    h3{
        font-size: 2rem; text-align: center; margin-top: 90px; position: relative; top: 3%; text-transform: uppercase;
    }

    section {
        display: flex; flex-flow: column wrap; margin-top: 110px; margin-bottom: 60px;
    }

    section > #aside-descr{
        display: flex; justify-content: center; align-items: center; 
    }

    section > #aside-descr > #description{
        flex-basis: 55%;
    }

    section > #div-img{
        flex-basis: 600px; flex-shrink: 2; flex-grow: 1; border: 1px solid green; display: flex; justify-content: center;align-items: center; flex-flow: column;
    }

    section > #div-img > img {
        width: 600px; filter:drop-shadow(2px 2px 10px black); border-radius: 3%;
    }

    section > #aside-origin{
      display: flex; justify-content: center; align-items: center; 
    }

    section > #aside-origin > #origin{
        flex-basis: 55%;
    }

    #pages-adjuste{
        display: flex; justify-content: center; 
    }

    #pages-adjuste > #div-pages{
        display: flex; justify-content: space-evenly; width: 200px; margin: 5px 0px;
    }

    #pages-adjuste >#div-pages > a{
        text-decoration: none; color: black; 
    }

    #div-pages > a > #arrow-left{
     font-size: 1.5em;
    }

    #div-pages > a > #arrow-left:hover{
        cursor: pointer;
    }

    #pages-adjuste > #div-pages > #p-page{
        background-color: rgb(200, 151, 199); padding: 0px 5px; border-radius: 50%; cursor: context-menu; font-size: 1.5rem;
    }

    #div-pages > a >#arrow-right{
     font-size: 1.5em;
    }

    #div-pages > a > #arrow-right:hover{
        cursor: pointer;
    }

    footer{
        margin: 5% 0%; height: 125px; display: flex; justify-content:center; align-items: center; background-image: linear-gradient(160deg, rgb(68, 5, 85)60%, white, rgba(20, 20, 94, 0.804) 75%, black); background-attachment: fixed; box-shadow: 2px 2px 10px black inset;
    }

    footer > h4{
     font-size: 2em; font-style: oblique; letter-spacing: 2px; text-shadow: var(--text_shadow); color: var(--color_font_footer);
    }
}

@media (min-width:992px) {

header{
    background-color: rgba(0, 0, 255, 0.352); background-image: linear-gradient(170deg, rgb(244, 244, 19) 5%,white 15%,rgb(24, 138, 252) 30%); background-attachment: fixed; box-shadow: 2px 2px 15px rgba(50, 11, 49, 0.868) inset;
}

header > #div-imgs{
    display: flex; justify-content: space-evenly; padding-top: 10%; padding-bottom: 5%;
}
        
    header > #div-imgs > #sunny{
    font-size: 2em; position: absolute; transform: translate(-40vw,-2vh);
    }

    header > #div-imgs > #cloud{
        font-size: 2em;
    }

    header > #div-imgs > #cloudy{
        font-size: 2em;
    }

    header > #div-titles{
    display: flex; justify-content: space-around; padding-top: 25px; padding-bottom: 25px; cursor: context-menu;
    }

    #div-titles > #span-draw > h1{
    color: rgb(245, 237, 237); font-size: 2rem; font-style: oblique; letter-spacing: 2px; text-decoration-line: underline; text-decoration-style: wavy; text-decoration-thickness: 2px; text-underline-offset: 8px; text-shadow: 1px 1px 3px black;
    }

    #div-titles > #span-artist > h1{
    color: rgb(240, 134, 217); font-size: 2rem; font-style: oblique; letter-spacing: 2px; text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 2px; text-underline-offset: 8px; text-shadow: 1px 1px 6px rgb(7, 0, 0);
    }

    #span-h2{
      text-align: center;  
    }

    #span-h2 > h2{
        color: rgb(12, 0, 10); font-size: 2rem; font-style: oblique; letter-spacing: 2px; text-shadow: 1px 1px 4px rgba(167, 98, 98, 0.84); padding: 6%;
    }

    #span-search{
        display: flex; justify-content:flex-end; align-items: center; flex-flow: row nowrap; margin-top: 25px;
    }

    #span-search > label{
    color: rgb(12, 0, 10); font-size: 1.5rem; padding-right: 10px; 
    }

    #span-search > #span-input > #input-year{
        width: 100%; border: none; background-color: rgba(128, 128, 128, 0.475); border-radius: 10px; flex: 0 1 120px; padding-top: 1px;
    }

    #span-search > #span-input > #bloom{
        color: rgb(7, 102, 7); font-size: 20px; padding-top: 1px; padding-bottom: 1px; cursor: pointer;
    }

    #span-search > #span-input{
        box-shadow: 2px 2px 6px black; border-radius: 10px; display: flex; background-color: transparent; padding-right: 3px; width: 125px; margin-right: 10%; height: 20px;
    }

    #first-hr{
        position: relative; transform: translateY(10vh); 
    }

    h3{
        font-size: 2rem; text-align: center; margin-top: 40px; padding-top: 40px;text-transform: uppercase; position: static; transform: translateY(10vh);
    }

    section {
         display: flex; flex-flow: column wrap; margin-top: 5%; padding: 0px 10px; 
    }

    section > #aside-descr{
        display: flex; justify-content: center; align-items: center; 
    }

    section > #aside-descr > #description{
        flex-basis: 50%;
    }

    section > #div-img{
        flex-basis: 600px; flex-shrink: 2; flex-grow: 1; display: flex; justify-content: center;align-items: center; flex-flow: column;
    }

    section > #div-img > img {
        width: 600px; filter:drop-shadow(2px 2px 10px black); border-radius: 3%;
    }

    section > #aside-origin{
        display: flex; justify-content: center; align-items: center; 
    }

    section > #aside-origin > #origin {
        flex-basis: 50%;
    }

    #pages-adjuste{
        display: flex; justify-content: center;
    }

    #pages-adjuste > #div-pages{
     display: flex; justify-content: space-evenly; align-items: center; margin: 70px 0px; width: 200px;
    }

    #pages-adjuste > #div-pages > a{
        text-decoration: none; color: black; 
    }

    #div-pages > a > #arrow-left{
         font-size: 1.5em;
    }

    #div-pages > a > #arrow-left:hover{
        cursor: pointer;
    }

    #pages-adjuste > #div-pages > #p-page{
        background-color: rgb(200, 151, 199); padding: 0px 5px; border-radius: 50%; cursor: context-menu; font-size: 1.5rem;
    }

    #div-pages > a >#arrow-right{
         font-size: 1.5em;
    }

    #div-pages > a > #arrow-right:hover{
        cursor: pointer;
    }

    footer{
        margin: 0% 0%; height: 150px; display: flex; justify-content:center; align-items: center; background-image: linear-gradient(160deg, rgb(68, 5, 85)60%, white, rgba(20, 20, 94, 0.804) 75%, black); background-attachment: fixed; box-shadow: 2px 2px 10px black inset;
    }

    footer > h4{
     font-size: 2em; font-style: oblique; letter-spacing: 2px; text-shadow: var(--text_shadow); color: var(--color_font_footer);
    }
}