@charset "UTF-08";

* {margin: 0%; padding: 0px; box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
--font : 'Lora' , sans-serif;
--color_font_footer : rgb(240, 220, 212);
--text_shadow : 1px 1px 6px rgb(172, 128, 128);
}

html, body{
    width: 100vw; height: 100vh; overflow-x: hidden;
}

body{
    background-color: rgba(240, 239, 213, 0.128); cursor: context-menu; font-family: var(--font);
    overflow-x: hidden; 
}

body::-webkit-scrollbar {
    width: 8px; scroll-padding: 50px; background-color: #12131269;
}
body::-webkit-scrollbar-thumb {
    background-color: #37031dac; 
}

header{
    background-color: rgba(0, 0, 255, 0.352); background-image: linear-gradient(170deg, rgb(244, 244, 19) 5%,white 15%,rgb(24, 138, 252) 30%); background-attachment: fixed; box-shadow: 2px 2px 15px rgba(50, 11, 49, 0.868) inset;
}

input:focus{
    outline: 0;
    }
    
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

@media (orientation:portrait) and (max-width:600px){
    header > #div-imgs{
    display: flex; justify-content: space-evenly; padding-top: 10%; padding-bottom: 5%;
    }
        
    header > #div-imgs > #sunny{
    font-size: 6dvi; position: absolute; transform: translate(-40vw,-2vh);
    }

    header > #div-imgs > #cloud{
        font-size: 5dvi;
    }

    header > #div-imgs > #cloudy{
        font-size: 5dvi;
    }

    header > #div-titles{
    display: flex; justify-content: space-around; padding-top: 5%; padding-bottom: 5%; cursor: context-menu;
    }

    #div-titles > #span-draw > h1{
    color: rgb(245, 237, 237); font-size: 4dvi; font-style: oblique; letter-spacing: 2px; text-decoration-line: underline; text-decoration-style: wavy; text-decoration-thickness: 2px; text-underline-offset: 8px; text-shadow: 1px 1px 3px black;
    }

    #div-titles > #span-artist > h1{
    color: rgb(240, 134, 217); font-size: 4dvi; font-style: oblique; letter-spacing: 2px; text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 2px; text-underline-offset: 8px; text-shadow: 1px 1px 6px rgb(7, 0, 0);
    }

    #span-h2{
      text-align: center;  
    }

    #span-h2 > h2{
        color: rgb(12, 0, 10); font-size: 4dvi; font-style: oblique; letter-spacing: 2px; text-shadow: 1px 1px 4px rgba(167, 98, 98, 0.84); padding: 8% 6% 6%;
    }

    #span-search{
        display: flex; justify-content:flex-end; align-items: center; flex-flow: row wrap; margin-top: 5%;
    }

    #span-search > label{
    color: rgb(12, 0, 10); font-size: 3dvi; padding-right: 10px; 
    }

    #span-search > #span-input > #input-year{
        width: 100%; border: none; background-color: rgba(128, 128, 128, 0.475); border-radius: 10px; flex: 0 1 120px;
    }

    #span-search > #span-input > #bloom{
        color: rgb(7, 102, 7);
    }

    #span-search > #span-input{
        box-shadow: 2px 2px 6px black; border-radius: 10px; display: flex; background-color: transparent; padding-right: 3px; width: 23%; margin-right: 12%;
    }

    #first-hr{
        position: relative; transform: translateY(5vh); 
    }

    h3{
       font-size: 5dvi; text-align: center; margin-top: 15%; position: relative; top: 3%; text-transform: uppercase;
    }

    section {
        border: 2px solid black; display: flex; flex-flow: column wrap; margin-top: 15%; margin-bottom: 10%; 
    }
    section > #aside-descr{
        border:1px solid red; display: flex; justify-content: center; align-items: center; 
    }

    section > #aside-descr > #description{
        flex-basis: 65%;
    }

    #aside-descr > #description > p, #aside-origin > #origin> p {
        text-shadow: var(--text_shadow); letter-spacing: 1px;
    }

    section > #div-img{
        flex-basis: 400px; flex-shrink: 2; flex-grow: 2; border: 1px solid green; display: flex; justify-content: center; align-items: center; flex-flow: column;
    }

    section > #div-img > img {
        width: 80%; filter:drop-shadow(2px 2px 10px black); border-radius: 3%;
    }

    section > #aside-origin{
        border:1px solid red; display: flex; justify-content: center; align-items: center; 
    }

    section > #aside-origin > #origin{
        flex-basis: 65%;
    }

    #pages-adjuste{
        display: flex; justify-content: center; 
    }

    #pages-adjuste > #div-pages{
        display: flex; justify-content: space-around; margin: 5px 0px; width: 200px;
    }

    #pages-adjuste > #div-pages > a{
        text-decoration: none; color: black; 
    }

    #div-pages > a > #arrow-left:hover{
        cursor: pointer;
    }

    #pages-adjuste > #div-pages > #p-page{
     background-color: rgb(200, 151, 199); padding: 0px 5px; border-radius: 50%; cursor: context-menu;
    }

    #div-pages > a > #arrow-right:hover{
        cursor: pointer;
    }

    footer{
        margin: 10% 0%; height: 120px; display: flex; justify-content:center; align-items: center; background-image: linear-gradient(160deg, rgb(68, 5, 85)60%, white, rgba(20, 20, 94, 0.804) 75%, black); background-attachment: fixed; box-shadow: 2px 2px 10px black inset;
    }

    footer > h4{
        font-size: 3dvi; font-style: oblique; letter-spacing: 2px; color: var(--color_font_footer);  text-shadow: var(--text_shadow);
    }

}